
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Monsterrat'.sans-serif;

}

body {
  margin: 0;
  background-color: #585c68;
  color: #555555;
  font-family: Arial, Helvetica, sans-serif;
}

hr{
  margin: 5px 0px 5px 0px;
}
.centered {
  
  width: 70%;
  margin:auto;
  position: absolute;
  text-align: center;
  color:white;
}
.centered h1{
  margin:2px 2px 2px 2px;
}
.centered ol{
  text-align: left;
}

.content{
  background-color: black;
  padding: 2vw;

  transition: 1s ease;
  width: 80%;
  height: 50vw;
  margin: auto;
  background: rgba(0, 0, 0, 0.3);
  color:white;

}
.content .left_content{
  width: 60%;
  float: left;
  padding: 2vw;
  text-align: center;
}
.content p{
  font-size:30px;
}
.content h1{
  color: white;
  font-size: 5vw;
  margin-bottom: 2vw;
}
.content .right_content{
  width: 40%;
  height: 100%;
  float: right;
}
.right_content img{
  max-width: 100%;
  max-height: 100%;
}
.content a{
  display: block;
  width: 100%;
  max-width: 100%;
  text-decoration: none;
  text-align: left;
  font-size: 4vh;
  color: white;
  margin: 0px;
  padding: 2vw;
}
.content a:hover{
  background: rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 750px) {


  .content{
  padding: 2vw; 
  transition: 1s ease;
  width: 100%;
  height: 100vw;
  background-color: black;
  background: rgba(0, 0, 0, 0.3);

  }
  .content h1{
  color: white;
  font-size: 5vh;
}
  .content .left_content{
  padding: 5px 5px 5px 5px;
  width: 100%;
  }
  .content .right_content{
  width: 100%;
  align-items: center;
  text-align: center;
  
  }
  .content a{
  text-align: center;
  }
  .right_content img{
    max-width: 75vw;
  }
}

.bold {
  font-weight: bolder;
  font-size: 20px;
  text-transform: uppercase;
}

.semi_bold{
  font-weight: bold;
  font-size: 16px;

}

.resume{
  width: 900px;
  height: auto;
  display: flex;
  margin:50px auto;
}

.resume .resume_left{
  background-color: #0066ff;
  width: 35%;
  height: auto;
  float: left;
}

.resume .resume_left .resume_profile{
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.resume .resume_left .resume_profile img{
  width: 100%;
}

.resume .resume_left .resume_content{
  padding: 0 25px;
}

.resume .title{
  margin-bottom:20px;
}
.resume .resume_left .bold{
  color:#fff;
}

.resume .resume_left .regular{
  color:#fff;
}

.resume .resume_item{
  padding: 25px 0;
  border-bottom: 2px solid #fff;

}

.resume .resume_left .resume_item:last-child{
  border:0px;
}

.resume .resume_left ul li{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  word-wrap: normal;
}
.resume .resume_left ul li:last-child{
  margin-bottom: 0px;
}

.resume .resume_left ul li .icon{
  width: 35px;
  height: 35px;
  background:#fff;
  color:#0066ff;
  border-radius: 50%;
  margin-right: 15px;
  font-size: 16px;
  position:relative;
}

.resume .icon i,
.resume .resume_right .resume_hobby ul li i{
  position:absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.resume .resume_left ul li .data{
  color: #fff;
}

.resume .resume_left .resume_skills ul li{
  color: #fff;
  justify-content: space-between;
}
.resume .resume_left .resume_skills ul li .skill_name{
  width: 25%;
}

.resume .resume_left .resume_skills ul li .skill_progress{
  width: 60%;
  margin: 0 5px;
  height: 5px;
  background:#009fd9;
  position: relative;
}
.resume .resume_left .resume_skills ul li .skill_per{
  width: 25%;
}
.resume .resume_left .resume_skills ul li .skill_progress span{
  position: absolute;
  top: 0;
  left:0;
  height: 100%;
  background: #fff;
}



.resume .resume_right{
  background-color: white;
  width: 70%;
  padding: 25px;
}

.resume .resume_right .resume_item{
  padding: 25px 0;
  border-bottom: 2px solid #009fd9;

}

.resume .resume_right .bold{
  color:#009fd9;
}

.resume .resume_right .resume_work ul,
.resume .resume_right .resume_education ul{
  padding-left: 40px;
  overflow: hidden;
}
.resume .resume_right ul li{
  position:relative;
}
.resume .resume_right ul li .date{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}
.resume .resume_right ul li .info{
  margin-bottom: 20px;
}
.resume .resume_right ul li:last-child .info{
  margin-bottom: 0px;
}
.resume .resume_right .resume_work ul li:before,
.resume .resume_right .resume_education ul li:before{
  content:"";
  position:absolute;
  top:5px;
  left:-25px;
  width:4px;
  height:4px;
  border-radius:50%;
  border:4px solid #009fd9;
}

.resume .resume_right .resume_work ul li:after,
.resume .resume_right .resume_education ul li:after{
  content:"";
  position:absolute;
  top: 14px;
  left:-20px;
  width:2px;
  height: 100vw;
  background:#009fd9;
}

.resume .resume_right .resume_hobby ul{
  display: flex;
  justify-content: space-between;
}

.resume .resume_right .resume_hobby ul li{
  width: 80px;
  height: 80px;
  border: 2px solid #009fd9;
  border-radius: 50%;
  position: relative;
  color:#009fd9;
}

.resume .resume_right .resume_hobby ul li i{
  font-size:30px;
}




.topnav {
  overflow: hidden;
  background-color: #0066ff;
}

.topnav a {
  float: right;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #0066ff;
  color: white;
  background: rgba(0, 0, 0, 0.3);
}

.topnav a.active {
  background-color: #0066ff;
  margin:1px;
  color: white;
  text-decoration-line: underline;
}

.banner{
  width: 100%;
  height: 40vw;
  overflow: hidden;
  vertical-align: center;
  position:relative;
}

.banner img{
  position:absolute;
  top:-50%; bottom:-50%;
  margin:auto;
  width: 100%;
  height: auto;
}

.banner .overlay {
  position: absolute;
  padding-left:5vw;
  padding-top: 10vw;
  width: 100%;
  height: 40vw;
  transition: 1s ease;
  
}
.banner .quate{
  color: white;
  font-size: 4vw;
  font-family: "Brush Script MT", cursive, sans-serif;
}

.banner .author{
  color: white;
  font-size: 4vw;
  font-family: "Freestyle Script", cursive, sans-serif;
  margin-left: 30vw;
}

}
.banner text{
  position:absolute;
  top:-50%; bottom:-50%;
  margin:auto;
  width: 100%;
  height: auto;

}